.quizz-container {
  padding: 20px;
  color: var(--primary-color);
}
.quizz-title {
  margin: 20px auto;
  text-align: center;
}
.quizz-form li{
  list-style-type: none;
  text-decoration: none;
  font-family: var(--text-font);
}
.category {
  padding: 10px;
  margin: 20px;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
