.quizz-container {
  padding: 15px;
  color: var(--primary-color);
}
.quizz-title {
  margin: 0px auto;
  text-align: center;
}
.quizz-form {
  font-family: var(--text-font);
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.quizz-form label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: left;
}
.quizz-form input, select {
  margin: 5px 0 25px 0;
  width: 100%;
  min-height: 3em;
  font-size: 0.9rem;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#submit-button {
  font-size: 1rem;
  margin: auto;
}
