.resultats-container {
  padding: 0px 20px 20px 20px;
  color: var(--primary-color);
}


#recipe-card-pre, #recipe-card-post {
  /* border: 2px solid var(--primary-color); */
  border-radius: 6px;
  /* min-width: 90%; */
  max-width: 600px;
  height: 420px;
  margin: 5px auto 30px;
  text-align: center;
  background-image: url();
  background-size: cover;
  background-position: bottom;
  position:relative;
}
.infos-bkgd {
  background-color: rgba(0, 0, 0, 0.379);
  position:absolute;
  bottom: 0;
  backdrop-filter: blur(20px);
  border-radius: 0 0 6px 6px;
}
.infos {
  padding: 10px 20px;
  font-family: var(--text-font);
  font-size: 0.8rem;
  text-align: left;
}
.infos-title {
  font-size: 1rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-calories {
  font-style: italic;
  font-size: 0.7rem;
}
