.resultats-container {
  padding: 0px 20px 20px 20px;
  color: var(--primary-color);
}
.recipe-card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 6px;
  max-width: 600px;
  height: 430px;
  margin: 10px auto 30px;
  background-image: url();
  background-size: cover;
  background-position: bottom;
  position:relative;
}
.recipe-card.is-flipped {
  transform: rotateY(180deg);
}
.infos {
  width: 100%;
  padding: 15px 15px;
  font-family: var(--text-font);
  font-size: 0.8rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.379);
  position:absolute;
  bottom: 0;
  backdrop-filter: blur(20px);
  border-radius: 0 0 6px 6px;
}
.infos-title {
  font-size: 1rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-calories {
  font-style: italic;
  font-size: 0.7rem;
}
.recipe-benefits {
  margin: 15px 0 15px;
}
#post-recipe{
  margin-top: 50px;
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card__face--back {
  transform: rotateY(180deg);
  padding: 0 15px 15px 15px;
}
.arrow {
  font-size: 15px;
  color: var(--primary-color);
  position: absolute;
  bottom: 5px;
  right: 20px;
  opacity: 0.50;
}
