@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('quizz.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

:root{
  --title-font: "Racing Sans One", sans-serif;
  --text-font: "Reddit Sans", sans-serif;
  --primary-color: #E2D8CB;
  --secondary-color: #3E1F0B;
}

html, body {
  height: 100%;
  font-size: 20px;
}
body{
  background-color: var(--primary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.437),rgba(36, 32, 25, 0.454)), url(../img/background.jpg);
  background-size: cover;        /* L’image couvre toute la page */
  background-repeat: no-repeat;  /* Empêche la répétition de l’image */
  background-position: top right;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}
p {
  font-family: var(--text-font);
  color: var(--primary-color);
  margin: 20px;
}
.burgermenu {
  font-size: 40px;
  color: var(--primary-color)
}
.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.334),rgba(36, 32, 25, 0.602)), url(../img/banner.jpg);
  background-size: cover;        /* L’image couvre toute la page */
  background-repeat: no-repeat;  /* Empêche la répétition de l’image */
  background-position: center;   /*Centre l’image dans la fenêtre */
  width: 100%;
  height: 300px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.banner-container, .index-container {
  padding: 20px;
}
.sub-title {
  color: var(--primary-color);
}
.get-started {
  margin: 20px auto;
  text-align: center;
  color: var(--primary-color);
}
.button{
  text-decoration: none;
  padding: 15px;
  font-family: var(--text-font);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 1px solid var(--primary-color)

}
