@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('quizz.css');
@import url('resultats.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

:root{
  --title-font: "Racing Sans One", sans-serif;
  --text-font: "Reddit Sans", sans-serif;
  --primary-color: #F2E2C4;
  --secondary-color: #3E1F0B;
}

html, body {
  height: 100%;
  font-size: 20px;
}
body{
  background-color: var(--primary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.296),rgba(36, 32, 25, 0.305)), url(../img/background.jpg);
  background-size: cover;        /* L’image couvre toute la page */
  background-repeat: no-repeat;  /* Empêche la répétition de l’image */
  background-position: top right;
  background-attachment: fixed;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}
p {
  font-family: var(--text-font);
  color: var(--primary-color);
  margin: 20px auto;
}
.logo {
  width: 60px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: var(--text-font);
  background-color: rgba(189, 188, 188, 0.379);
  backdrop-filter: blur(20px);
  width: 205px;
  margin-left: -20px;
  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(0.73, 0.11, 0.67, 0.84);
  height: auto;
  float: left;
  position: fixed;
  z-index: 1000;
  border-radius: 4px;
}
.menu.active {
    transform: translate(0);
  }
.menu a, li {
  list-style-type: none;
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px 0;
}
.burger-menu {
  font-size: 40px;
  color: var(--primary-color);
  display:block;
  cursor: pointer;;
}
.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.334),rgba(36, 32, 25, 0.602)), url(../img/banner.jpg);
  background-size: cover;        /* L’image couvre toute la page */
  background-repeat: no-repeat;  /* Empêche la répétition de l’image */
  background-position: center;   /*Centre l’image dans la fenêtre */
  width: 100%;
  height: 300px;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.banner-container, .index-container {
  padding: 20px;
}
.sub-title {
  color: var(--primary-color);
}
.get-started {
  margin: 20px auto;
  text-align: center;
  color: var(--primary-color);
}
button {
  appearance: none;
  all: unset;
}

/* ? BUTTON */
@property --c1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #94634b;
}
@property --c2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #d3baa4;
}
@property --c3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #5b4634;
}
.button{
  text-decoration: none;
  padding: 15px;
  font-family: var(--text-font);
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  cursor: pointer;
}
.button:before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0px;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(
    to bottom right,
    var(--c1) 0%,
    var(--c3) 33%,
    var(--c2) 62%,
    var(--c3) 100%
  );
  -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: --c1 300ms ease, --c2 300ms ease, --c3 300ms ease;
}

.button:hover:before {
  --c1: #58462e;
  --c2: #7a573e;
  --c3: #a8824a;
}
.button:active:before {
  --c1: #525252;
  --c2: #414141;
  --c3: #414141;
}

/* ? CAROUSEL */
.carousel {
  margin: 50px auto 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  > * {
    flex: 0 0 40%;  /* Ajuste ce pourcentage pour contrôler le nombre de cartes visibles */
    }
    &:hover .group {
    animation-play-state: paused;
    }
  }
.card {
  width: 230px;
  color: var(--primary-color);
  border-radius: 6px;
  min-height: 250px;
  background-size: cover;
  background-position: bottom;
  cursor: pointer;
}
.group {
  display: flex;
  gap: 25px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.infos-card-carousel {
  width: 230px;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.379);
  backdrop-filter: blur(20px);
  margin: auto;
  padding: 6px;
  border-radius: 0 0 6px 6px;
}
.infos-card-carousel p {
  margin: 10px 0;
}



/* !Media Queries */

@media screen and (min-width: 540px) {
  .recipe-card {
    height: 530px;
  }
}
@media screen and (min-width: 720px) {
  .logo {
    width: 80px;
  }
  .banner-title {
    margin-top: 40px;
  }
  .quizz-container {
    width: 80%;
    margin: auto;
  }
  .quizz-title {
    font-size: 1.4rem;
    margin-top: 40px;
  }
  .resultats-container {
    margin: 40px auto;
    width: 80%;
  }
  .proposal {
    margin: 50px 0;
  }
  .recipe-card {
    height: 630px;
  }
}
@media screen and (min-width: 960px) {
  html, body {
    font-size: 24px;
  }
  h1 {
  font-size: 2.6rem;
  }
  .menu {
    width: 240px;
  }
  .logo {
    width: 100px;
  }
  .banner-title {
    margin-top: 50px;
  }
  .banner-title-logo {
    text-align: center;
  }
  .sub-title {
    margin-left: 60px;
  }
  .quizz-title {
    font-size: 1.6rem;
    margin: 50px auto;
  }
  .resultats-container {
    margin-top: 70px;
  }
}
